<div class="page-header">
    <h3>Company Information</h3>
</div>
<div class="container ">
    <div class="form-group">
        <h3><label class="label label-info">Search text</label></h3>
        <input class="form-control" type="text" placeholder="Required" ng-model="searchText"/> <br>
    </div> <br>
    <div>
        <h4><label class="label label-info">Option</label></h4>
        <select ng-model="Option" class="selectpicker form-control" data-style="btn-info">
            <option value="vat">VAT Number</option>
            <option value="name">Firm Name</option>
            <option value="produ">Production Unit</option>
            <option value="phone">Phone Number</option>
        </select>
    </div> <br>
    <div>
        <h4><label class="label label-info">Country</label></h4>
        <select ng-model="Country" class="selectpicker form-control" data-style="btn-info">
            <option value="dk">DK</option>
            <option value="no">NO</option>
        </select> 
    </div> <br>
    <div class="text-center">
        <form ng-submit="getInfo()">
        <input type="submit" value="Find Company" class="btn btn-info btn-lg"/>
        </form>
    </div>
    <div>
        <p ng-bind="name"></p>
        <p ng-model="vat"></p>
    </div>
</div>
