<h3>This is the partial for view 3.</h3>
<div>
  <p>Data from server (Admin Only) <b style="color: darkblue">Hello</b></p>
  <p>Server Time: <b style="color: darkblue">Hi!</b></p>
  <table class="table">
      <tr>
        <th>Username</th>
        <th>Roles</th>
        <th></th>
      </tr>
      <tr ng-repeat="user in allUsers">
          <td>{{user.userName}}</td>
          <td>
              <p ng-repeat="role in user.roles">
                  {{role.roleName}}<br>
              </p>
          </td>
          <td><button ng-click="deleteUser(user.userName)" class="btn btn-danger">Delete</button></td>
      </tr>
  </table>
</div>
