<h3>This is the All User site</h3>
<p>
    Here you can see the current users and their roles.
    <br>
    You are also able to delete them.
</p>
<div>
  <table class="table">
      <tr>
        <th>Username</th>
        <th>Roles</th>
        <th></th>
      </tr>
      <tr ng-repeat="user in allUsers">
          <td>{{user.userName}}</td>
          <td>
              <p ng-repeat="role in user.roles">
                  {{role.roleName}}<br>
              </p>
          </td>
          <td><button ng-click="deleteUser(user.userName)" class="btn btn-danger">Delete</button></td>
      </tr>
  </table>
</div>
